/* Estilo para el cuerpo de la pagina */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative; /* Asegura que el div absoluto esté posicionado correctamente */
}

/* Estilo para el div que contiene la imagen de fondo */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.png');
    background-size: 50% auto; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center 80px;
    opacity: 0.65; /* Ajusta la opacidad*/
    z-index: -1; /* Coloca el div detrás del contenido principal */
}

/* Estilo para el titulo principal */
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilo para la tabla */
table {
    width: 40%;
    max-width: 700px;
    border-collapse: collapse;
    margin: 20px auto;
}

/* Estilo para las celdas de la tabla */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* Estilo para el encabezado de la tabla */
th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: deepskyblue;
    text-align: center;
    color: black;
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: #f5f5f5;
}

/* Estilo para las filas pares */
tr:nth-child(even) {
    background-color: #ffffff;
}

/* Estilo para las filas de la tabla*/
tr:hover {
    background-color: beige; /* Color de fondo al pasar el ratón */
    cursor: pointer;
}

/* Estilo para los botones */
button {
    margin: 5px;
    padding: 8px;
    cursor: pointer;
}


/* Estilos para las columnas de la tabla donde asigna su tamaño correspondiente*/

/* Estilo para el encabezado y las celdas del primer hijo th y td */
#characterTable th:nth-child(1),
#characterTable td:nth-child(1) {
    width: 4%;
}

/* Estilos para el encabezado y las celdas del segundo hijo td */
#characterTable td:nth-child(2) {
    width: 22%;
    text-align: left;
}

/* Estilos para el encabezado y las celdas del segundo hijo th*/
#characterTable th:nth-child(2) {
    width: 22%;
    text-align: center;
}

/* Estilo para el encabezado y las celdas del tercer hijo th y td */
#characterTable th:nth-child(3),
#characterTable td:nth-child(3) {
    width: 7%;
}

/* Estilo para el encabezado y las celdas del cuarto hijo th y td */
#characterTable th:nth-child(4),
#characterTable td:nth-child(4) {
    width: 7%;
}

/* Estilo para la card con la informacion detallada del personaje) */
.character-card {
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    min-width: 400px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: box-shadow 0.3s ease-in-out; /* Efecto de transición para la sombra */
    background-color: beige; /* Fondo en tono beige claro */
}

/* Estilo para cambiar el sombreado de la card*/
.character-card:hover {
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el ratón */
}

/* Estilo para ela imagen de la card */
.character-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Estilo para la informacion de la card */
.character-info {
    text-align: left;
    border: none;
}

/* Estilo para el contenedor de la card */
#characterDetail {
    display: none; /* Ocultar inicialmente */
    margin-top: 0px;
    padding: 20px;
}

/* Estilo para la imagen principal */
#imgBienvenida {
    width: 25%;
    max-width: 500px;
    display: block; /* Hace que la imagen sea un bloque, permitiendo centrarla horizontalmente */
    margin: auto; /* Centra la imagen horizontalmente */
    margin-bottom: 20px;
    border-radius: 50px;

}

/* Estilo para la paginación */
#pagination {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

/* Estilo para el contenedor de la barra y boton de busqueda */
#searchID {
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Estilo para la barra de busqueda */
#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 50%;
    max-width: 600px;
    background: url('lupa.png') no-repeat 10px center; /* Ajusta la ruta y la posición del icono de lupa*/
    background-size: 20px; /* Ajusta el tamaño del icono */
    padding-left: 40px;
    background-color: white;
}

/* Estilo para el botón de búsqueda */
#searchButton {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
}

/* Estilo para resaltar cuando se pasa el ratón sobre la barra de búsqueda */
#searchInput:hover {
    background-color: beige;
}

/* Estilo para resaltar cuando se pasa el ratón sobre los botones */
#searchButton:hover, #prevPage:hover, #nextPage:hover {
    background-color: blue;
}

/* Estilo para los botones de paginación */
#prevPage, #nextPage {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
}